<div class="container p-1 m-2">
    <h4>Venue</h4>
    <p>
    {% if include.venue == '' or include.venue == nil %}
        TBD
    {% else %}
        {{ include.venue }} 
        {% if include.link == '' or include.link == nil %}
            [No MS-Teams Link Available Yet]
        {% else %}
            <a href="{{ include.link }}">[MS Teams Link]</a>
        {% endif %}
    {% endif %}
    </p>

    {% if include.bio %}
        <h4>Short Bio</h4>
        <p>{{ include.bio }}</p>
    {% endif %}

    <h4>Abstract</h4>
    <p>
    {% if include.abstract == '' or include.abstract == nil %}
        TBA
    {% else %}
        {{ include.abstract }}
    {% endif %}
    </p>

    {% if include.recording != '' and include.recording != nil %}
        <a class="btn btn-info" href="{{include.recording}}" role="button"><i class="bi bi-camera-video"></i> Seminar Recording</a>
    {% endif %}
</div>