<h1>RHUL CS seminars</h1>
<p>Welcome to the RHUL CS seminars webpage. Our seminars run on <strong>Wednesdays</strong> during term time. </p>

<p>Each seminar is tagged with a general <span class="badge bg-danger">Topic</span> and with <span class="badge bg-primary">Technical</span> if technical content is to be expected or <span class="badge bg-primary">Departmental</span> if it is suitable for a general audience.</p>

<p>Click on <strong>Show Details</strong> to see the venue, link to live-streaming, the abstract, and a link to the recording after the seminar (if available). </strong></p>