body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, system-ui;
}

.talk-details {
  padding: 5px;
}

h1 {
  text-align: left;
  color: gray;
}


.collapsed-row td {
padding: 0 !important;
}