---
layout: main
---

{{ content }}

<br/>

<div class="card">
    <div class="card-header">
        <!-- <div class="container-md"> -->
        {% include title.html %}
        <!-- </div> -->
    </div>
    <div class="card-body">
        {% include schedule.html tag=page.tag  %}
    </div>
    <div class="card-footer text-muted flex-row">
        <a href="{{site.url}}/cal/rhul-cs-sem-calendar.ics">Link to ICS calendar</a>
        <a class="mx-2" href="https://github.com/rhul-cs-cake-talks/rhul-cs-cake-talks.github.io">Website source code</a>
    </div>
</div>
